<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
  
      <a href="https://youtube.com/@learnsmartcoding" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1><span><img src="../../assets/custom/Learn Smart Coding Logo white bg.png"></span></h1>
      </a>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#" [routerLink]="['/home']" routerLinkActive="router-link-active"  >Home</a></li>
          <li><a href="#" [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
          <li><a href="#" [routerLink]="['/menu']" routerLinkActive="router-link-active" >Menu</a></li>
          <li><a href="#" [routerLink]="['/events']" routerLinkActive="router-link-active" >Events</a></li>
          <li><a href="#" [routerLink]="['/chefs']" routerLinkActive="router-link-active" >Chefs</a></li>
          <li><a href="#" [routerLink]="['/gallery']" routerLinkActive="router-link-active" >Gallery</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a href="#" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <a class="btn-book-a-table" href="#" [routerLink]="['/book-a-table']" routerLinkActive="router-link-active" >Book a Table</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header><!-- End Header -->